.SignUp__label {
    text-align: center;
    margin: 30px 0px;
    text-transform: uppercase;
}

.SignUp__Input{
    width: 100%;
    margin: 15px 8px;
    padding: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.SignUp__Input:focus{
    /* border-top: 0; */
    /* border-left: 0; */
    /* border-right: 0; */
    /* border-color: aqua; */
    outline-color: none;
}

